{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Notification list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Status</th>
                <th>Content</th>
                <th>Source</th>
                <th>Log</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('idci_notification_admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.from }}</td>
                <td>{% for to in entity.to %} {{ to | join('-') }} {% endfor %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{% for k,v in entity.content %} {{ k }}:{{ v }} {% endfor %}</td>
                <td>{{ entity.source }}</td>
                <td>{{ entity.log }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('idci_notification_admin_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
