{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Notification</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ entity.from }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{% for to in entity.to %} {{ to | join('-') }} {% endfor %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{% for k,v in entity.content %} {{ k }}:{{ v }} {% endfor %}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Log</th>
                <td>{{ entity.log }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('idci_notification_admin_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
